<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <title>Movie vo Menu</title>
  </head>

  <body>
    <header>
      <nav class="top-nav">
        <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('movies') }}">Movies</a></li>
          <li><a href="{{ url_for('shows') }}">Shows</a></li>
        </ul>

        <form action="{{ url_for('search') }}" method="get">
          <input type="text" name="q" placeholder="Search..." class="search-bar" />
        </form>
      </nav>

    <main></main>

    <footer></footer>
  </body>
</html>
