<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title> Page 5 </title>
</head>
<body> 
<header class="top-header">
    <a href="index.html" class="back-button">← Back</a>

    <nav class="top-nav">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="index.html#movies">Movies</a></li>
            <li><a href="index.html#books">Books</a></li>
        </ul>

        <input type="text" placeholder="Search..." class="search-bar">
    </nav>
</header>

    <main class="movie-layout">
    <img src="basketball-diaries-0-2000-0-3000-crop.jpg" class="poster">

    <div class="movie-info">
        <h2>The Basketball Diaries</h2>
        <p>⭐⭐⭐⭐☆</p>
        <p>Your description goes here...</p>
    </div>
</main>
    <footer>


    </footer>

</body>
</html>