<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="main.css">
<title>Page 1</title>
</head>
<body> 
<header class="top-header">
    <a href="index.html" class="back-button">← Back</a>

    <nav class="top-nav">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="index.html#movies">Movies</a></li>
            <li><a href="index.html#books">Books</a></li>
        </ul>

        <input type="text" placeholder="Search..." class="search-bar">
    </nav>
</header>

<main class="movie-layout">

    <div class="poster-box">
        <img src="little TC.webp" class="poster">
        <h2 class="poster-title">Little Women</h2>
    </div>

    <div class="right-column">

        <div class="movie-details">
            <p><strong>Duration:</strong> 2h 15m</p>
            <p><strong>Genre:</strong> Drama / Romance</p>
            <p><strong>Released:</strong> 2019</p>
            <p><strong>Cast:</strong> Saoirse Ronan, Timothée Chalamet, Emma Watson</p>
        </div>

        <div class="movie-review">
            <p>⭐⭐⭐⭐⭐</p>
            <p class="review-title">My personal Review:</p>
            <p class="review-text">
                Little Woman is an exceptionally made movie. This movie really leaves an impact on you with deep themes of loss and regret. The most memorable part of the movie for me was when Laurie (Timothée Chalamet) was confessing everything he felt to Jo. His acting made me feel everything as if I was standing on the sidelines. This


<footer>

</footer>

</body>
</html>