<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <title>Page 1</title>
  </head>

  <body>
    <header class="top-header">
      <a href="{{ url_for('index') }}" class="back-button">← Back</a>

      <nav class="top-nav">
        <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('movies') }}">Movies</a></li>
          <li><a href="{{ url_for('shows') }}">Shows</a></li>
          <li><a href="{{ url_for('games') }}">Games</a></li>
        </ul>

        <form action="{{ url_for('search') }}" method="get">
          <input
            type="text"
            name="q"
            placeholder="Search..."
            class="search-bar"
          />
        </form>
      </nav>
    </header>

    <main class="page1-layout">
      <div class="page1-top-row">
        <div class="poster-box">
          <img
            src="{{ url_for('static', filename='images/little-TC.webp') }}"
            class="poster"
            alt="Little Women Poster"
          />
          <h2 class="poster-title">Little Women</h2>
        </div>

        <div class="page1-details">
          <p><strong>Duration:</strong> 2h 15m</p>
          <p><strong>Genre:</strong> Drama / Romance</p>
          <p><strong>Released:</strong> 2019</p>
          <p><strong>Cast:</strong> Saoirse Ronan</p>
        </div>
      </div>

      <div class="page1-review">
        <p>⭐⭐⭐⭐⭐</p>
        <p class="review-title">My personal Review:</p>
        <p class="review-text">
          Little Woman is an exceptionally made movie. This movie really leaves
          an impact on you with deep themes of loss and regret. The most
          memorable part of the movie for me was when Laurie (Timothée Chalamet)
          was confessing everything he felt to Jo. His acting made me feel
          everything as if I was standing on the sidelines. This movie will go
          down as one of my favorite romance movies of all time. Jo is the most
          idiotic person for not choosing Laurie.
        </p>
      </div>
    </main>

    <footer></footer>
  </body>
</html>
