<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <title>Show 1</title>
  </head>

  <body>
    <header class="top-header">
      <nav class="top-nav">
        <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('movies') }}">Movies</a></li>
          <li><a href="{{ url_for('shows') }}">Shows</a></li>
          <li><a href="{{ url_for('games') }}">Games</a></li>
        </ul>

        <form action="{{ url_for('search') }}" method="get">
          <input
            type="text"
            name="q"
            placeholder="Search..."
            class="search-bar"
            autocomplete="off"
          />
        </form>
      </nav>
    </header>

    <main class="bd-layout">
      <div class="bd-top-row">
        <div class="bd-poster-box">
          <img
            src="{{ url_for('static', filename='images/game.jpg') }}"
            class="bd-poster"
            alt="Show 1 Poster"
          />
        </div>

        <div class="bd-details">
          <p><strong>Genre:</strong> Fantasy / Drama / Adventure</p>
          <p><strong>Released:</strong> 2011 – 2019</p>
          <p>
            <strong>Cast:</strong> Emilia Clarke, Kit Harington, Peter Dinklage,
            Lena Headey
          </p>
        </div>
      </div>

      <div class="bd-review">
        <p>⭐⭐⭐⭐⭐</p>
        <p class="review-title">My personal Review:</p>
        <p class="review-text">
          Game of Thrones is one of those shows that stays incredible no matter
          how you feel about the ending. The world-building, the tension, and
          the character arcs are so strong that the journey overshadows the
          destination. Jon Snow carries the show with this quiet strength, Jaime
          Lannister has one of the coolest redemption arcs ever put on TV, and
          Tyrion steals every scene with how sharp and human he is. What I took
          from the show was that power exposes people more than it changes them,
          and watching that unfold was unforgettable..
        </p>
      </div>
    </main>
  </body>
</html>
