<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <title>Smallville</title>
  </head>

  <body>
    <header class="top-header">
      <nav class="top-nav">
        <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('movies') }}">Movies</a></li>
          <li><a href="{{ url_for('shows') }}">Shows</a></li>
          <li><a href="{{ url_for('games') }}">Games</a></li>
        </ul>

        <form action="{{ url_for('search') }}" method="get">
          <input
            type="text"
            name="q"
            placeholder="Search..."
            class="search-bar"
            autocomplete="off"
          />
        </form>
      </nav>
    </header>

    <main class="bd-layout">
      <div class="bd-top-row">
        <div class="bd-poster-box">
          <img
            src="{{ url_for('static', filename='images/smallville.webp') }}"
            class="bd-poster"
            alt="Show 1 Poster"
          />
        </div>

        <div class="bd-details">
          <p><strong>Genre:</strong> Superhero / Drama / Sci‑Fi</p>
          <p><strong>Released:</strong> 2001 – 2011</p>
          <p>
            <strong>Cast:</strong> Tom Welling, Kristin Kreuk, Michael
            Rosenbaum, Erica Durance
          </p>
        </div>
      </div>

      <div class="bd-review">
        <p>⭐⭐⭐⭐⭐</p>
        <p class="review-title">My personal Review:</p>
        <p class="review-text">
          Smallville is one of those shows that understands the weight of
          becoming someone you never asked to be. It captures Clark’s loneliness
          and the pressure of growing into a symbol the world expects, not the
          person he’s ready to become. What stood out to me was how the show
          treats heroism as something painful, something earned through identity
          and sacrifice. It’s a story about surviving yourself more than saving
          anyone else. Apart from all that, Lex switch was crazy when i first
          saw it.
        </p>
      </div>
    </main>
  </body>
</html>
