<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <title>Show 1</title>
  </head>

  <body>
    <header class="top-header">
      <nav class="top-nav">
        <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('movies') }}">Movies</a></li>
          <li><a href="{{ url_for('shows') }}">Shows</a></li>
          <li><a href="{{ url_for('games') }}">Games</a></li>
        </ul>

        <form action="{{ url_for('search') }}" method="get">
          <input
            type="text"
            name="q"
            placeholder="Search..."
            class="search-bar"
            autocomplete="off"
          />
        </form>
      </nav>
    </header>

    <main class="bd-layout">
      <div class="bd-top-row">
        <div class="bd-poster-box">
          <img
            src="{{ url_for('static', filename='images/trollhunters.jpg') }}"
            class="bd-poster"
            alt="Show 1 Poster"
          />
        </div>

        <div class="bd-details">
          <p><strong>Genre:</strong> Fantasy / Adventure / Animation</p>
          <p><strong>Released:</strong> 2016 – 2018</p>
          <p>
            <strong>Cast:</strong> Anton Yelchin, Emile Hirsch, Lexi Medrano,
            Kelsey Grammer
          </p>
        </div>
      </div>

      <div class="bd-review">
        <p>⭐⭐⭐⭐⭐</p>
        <p class="review-title">My personal Review:</p>
        <p class="review-text">
          Trollhunters is easily my favorite animated show because it mixes
          heart, adventure, and pure enjoyment in a way most series never touch.
          Jim’s journey feels personal, showing how stepping into responsibility
          you never asked for can shape you into someone stronger than you ever
          expected. What stood out to me was how the show balances emotional
          moments with fun, making every episode feel meaningful without losing
          its charm. It’s a story about courage, identity, and choosing to keep
          going even when the world feels too big. .
        </p>
      </div>
    </main>
  </body>
</html>
